<article>


      <section class="top-rated" style="background: url('./assets/images/banner-details-404.jpg') no-repeat;">
        <div class="container">

          <p class="section-subtitle">WoW</p>

          <h2 class="h2 section-title">How, did you get <strong>here ?</strong></h2>

          <ul class="movies-list list-404">

            <li>
              <div class="movie-card">

                <a href="javascript:void(0)">
                  <figure class="card-banner">
                    <img src="/images/404/__4.jpg" alt="">
                  </figure>
                </a>

              </div>
            </li>

            <li>
              <div class="movie-card">
                <a href="javascript:void(0)">
                  <figure class="card-banner">
                    <img src="/images/404/_0.jpg" alt="">
                  </figure>
                </a>
              </div>
            </li>

            <li>
              <div class="movie-card">
                <a href="javascript:void(0)">
                  <figure class="card-banner">
                    <img src="/images/404/_4.jpg" alt="">
                  </figure>
                </a>
              </div>
            </li>

          </ul>

          <div class="details-actions">
            <button class="btn btn-primary">
              <a href="/">BACK</a>
            </button>
          </div>

        </div>

      </section>

    </article>