<article>

  <section class="movie-detail">

    <p class="section-subtitle">Login</p>

    <h2 class="h2 section-title">Please, fill up your <strong>details</strong>:</h2>
    <div class="container-reg-log-edit">

      <div class="wrapper">
        <form method="POST">
          <h1>Log<strong>in</strong></h1>
          <div class="input-box">
            <input type="text" name="username_email" placeholder="Username or Email" value="{{username_email}}" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="register-link">
            <p><strong>Don't have an account? <a href="/auth/register">Register</a></strong></p>
          </div>
        </form>

      </div>

    </div>
  </section>


</article>